<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.beeframework.iosbase</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>5.0</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>QuartzCore</string>
				<string>Security</string>
				<string>SystemConfiguration</string>
				<string>AVFoundation</string>
				<string>UIKit</string>
				<string>Foundation</string>
				<string>CoreGraphics</string>
				<string>MobileCoreServices</string>
				<string>CoreVideo</string>
				<string>CoreMedia</string>
				<string>CFNetwork</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<!--http://developer.apple.com/library/mac/#documentation/DeveloperTools/Reference/XcodeBuildSettingRef/1-Build_Setting_Reference/build_setting_ref.html-->
				<!--http://stackoverflow.com/questions/8493261/including-libsqlite3-dylib-in-xcode-4-project-template-->
				<key>OTHER_LDFLAGS</key>
                <array>
					<string>-lxml2</string>
                </array>
				
				<key>FRAMEWORK_SEARCH_PATHS</key>
                <array>
                    <string>/usr/lib/libxml2.dylib</string>
                </array>
				
				<key>HEADER_SEARCH_PATHS</key>
                <array>
                    <string>$(SDKROOT)/usr/include/libxml2</string>
                </array>
				
				<key>USER_HEADER_SEARCH_PATHS</key>
                <array>
                    <string>$(SDKROOT)/usr/include/libxml2</string>
                </array>
				
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Release</key>
				<dict>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Resources/Default.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default.png</string>
		</dict>
		<key>Resources/Default@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default@2x.png</string>
		</dict>
		<key>Resources/Default-568h@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default-568h@2x.png</string>
		</dict>
		<key>Resources/Icon.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/icon.png</string>
		</dict>
		<key>Resources/Icon@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/icon@2x.png</string>
		</dict>
		<key>Resources/Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/iTunesArtwork</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/iTunesArtwork</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Resources/Default.png</string>
		<string>Resources/Default@2x.png</string>
		<string>Resources/Default-568h@2x.png</string>
		<string>Resources/icon.png</string>
		<string>Resources/icon@2x.png</string>
		<string>Resources/Info.plist</string>
		<string>Resources/iTunesArtwork</string>
	</array>
</dict>
</plist>
