<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version='1.0'>
    <dict>
        <key>Description</key>
        <string>This is a template description.</string>
        <key>Identifier</key>
        <string>com.beeframework.lib_touchXML.lib</string>
        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Definitions</key>
        <dict>
            <key>libs/TouchXML/Creation/CXMLDocument_CreationExtensions.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML/Creation</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/Creation/CXMLDocument_CreationExtensions.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/Creation/CXMLNode_CreationExtensions.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML/Creation</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/Creation/CXMLNode_CreationExtensions.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/CXHTMLDocument.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXHTMLDocument.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/CXMLDocument.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLDocument.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/CXMLDocument_PrivateExtensions.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLDocument_PrivateExtensions.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/CXMLElement.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLElement.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/CXMLElement_CreationExtensions.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLElement_CreationExtensions.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/CXMLElement_ElementTreeExtensions.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLElement_ElementTreeExtensions.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/CXMLNamespaceNode.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLNamespaceNode.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/CXMLNode.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLNode.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/CXMLNode_PrivateExtensions.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLNode_PrivateExtensions.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/CXMLNode_XPathExtensions.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLNode_XPathExtensions.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/Tidy/CTidy.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML/Tidy</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/Tidy/CTidy.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/TouchXML.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/TouchXML.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/TouchXML/Creation/CXMLDocument_CreationExtensions.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML/Creation</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/Creation/CXMLDocument_CreationExtensions.m</string>
            </dict>
            <key>libs/TouchXML/Creation/CXMLNode_CreationExtensions.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML/Creation</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/Creation/CXMLNode_CreationExtensions.m</string>
            </dict>
            <key>libs/TouchXML/CXHTMLDocument.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXHTMLDocument.m</string>
            </dict>
            <key>libs/TouchXML/CXMLDocument.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLDocument.m</string>
            </dict>
            <key>libs/TouchXML/CXMLDocument_PrivateExtensions.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLDocument_PrivateExtensions.m</string>
            </dict>
            <key>libs/TouchXML/CXMLElement.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLElement.m</string>
            </dict>
            <key>libs/TouchXML/CXMLElement_CreationExtensions.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLElement_CreationExtensions.m</string>
            </dict>
            <key>libs/TouchXML/CXMLElement_ElementTreeExtensions.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLElement_ElementTreeExtensions.m</string>
            </dict>
            <key>libs/TouchXML/CXMLNamespaceNode.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLNamespaceNode.m</string>
            </dict>
            <key>libs/TouchXML/CXMLNode.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLNode.m</string>
            </dict>
            <key>libs/TouchXML/CXMLNode_PrivateExtensions.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLNode_PrivateExtensions.m</string>
            </dict>
            <key>libs/TouchXML/CXMLNode_XPathExtensions.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/CXMLNode_XPathExtensions.m</string>
            </dict>
            <key>libs/TouchXML/Tidy/CTidy.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_touchXML</string>
                    <string>TouchXML/Tidy</string>
                </array>
                <key>Path</key>
                <string>libs/TouchXML/Tidy/CTidy.m</string>
            </dict>
        </dict>
        <key>Nodes</key>
        <array>
            <string>libs/TouchXML/Creation/CXMLDocument_CreationExtensions.h</string>
            <string>libs/TouchXML/Creation/CXMLNode_CreationExtensions.h</string>
            <string>libs/TouchXML/CXHTMLDocument.h</string>
            <string>libs/TouchXML/CXMLDocument.h</string>
            <string>libs/TouchXML/CXMLDocument_PrivateExtensions.h</string>
            <string>libs/TouchXML/CXMLElement.h</string>
            <string>libs/TouchXML/CXMLElement_CreationExtensions.h</string>
            <string>libs/TouchXML/CXMLElement_ElementTreeExtensions.h</string>
            <string>libs/TouchXML/CXMLNamespaceNode.h</string>
            <string>libs/TouchXML/CXMLNode.h</string>
            <string>libs/TouchXML/CXMLNode_PrivateExtensions.h</string>
            <string>libs/TouchXML/CXMLNode_XPathExtensions.h</string>
            <string>libs/TouchXML/Tidy/CTidy.h</string>
            <string>libs/TouchXML/TouchXML.h</string>
            <string>libs/TouchXML/Creation/CXMLDocument_CreationExtensions.m</string>
            <string>libs/TouchXML/Creation/CXMLNode_CreationExtensions.m</string>
            <string>libs/TouchXML/CXHTMLDocument.m</string>
            <string>libs/TouchXML/CXMLDocument.m</string>
            <string>libs/TouchXML/CXMLDocument_PrivateExtensions.m</string>
            <string>libs/TouchXML/CXMLElement.m</string>
            <string>libs/TouchXML/CXMLElement_CreationExtensions.m</string>
            <string>libs/TouchXML/CXMLElement_ElementTreeExtensions.m</string>
            <string>libs/TouchXML/CXMLNamespaceNode.m</string>
            <string>libs/TouchXML/CXMLNode.m</string>
            <string>libs/TouchXML/CXMLNode_PrivateExtensions.m</string>
            <string>libs/TouchXML/CXMLNode_XPathExtensions.m</string>
            <string>libs/TouchXML/Tidy/CTidy.m</string>
        </array>
    </dict>
</plist>