<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version='1.0'>
    <dict>
        <key>Description</key>
        <string>This is a template description.</string>
        <key>Identifier</key>
        <string>com.beeframework.lib_jsonkit.lib</string>
        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Definitions</key>
        <dict>
            <key>libs/JSONKit/JSONKit.h</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_jsonkit</string>
                    <string>JSONKit</string>
                </array>
                <key>Path</key>
                <string>libs/JSONKit/JSONKit.h</string>
                <key>TargetIndices</key>
                <array/>
            </dict>
            <key>libs/JSONKit/JSONKit.m</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>libs</string>
                    <string>lib_jsonkit</string>
                    <string>JSONKit</string>
                </array>
                <key>Path</key>
                <string>libs/JSONKit/JSONKit.m</string>
            </dict>
        </dict>
        <key>Nodes</key>
        <array>
            <string>libs/JSONKit/JSONKit.h</string>
            <string>libs/JSONKit/JSONKit.m</string>
        </array>
    </dict>
</plist>