<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.beeframework.base</string>
		<string>com.beeframework.iosbase</string>
		<string>com.beeframework.bundlebase</string>
		<string>com.beeframework.lib_beeframework.lib</string>
		<string>com.beeframework.lib_beedebugger.lib</string>
		<string>com.beeframework.lib_beetemplates.lib</string>
		<string>com.beeframework.lib_fmdb.lib</string>
		<string>com.beeframework.lib_jsonkit.lib</string>
		<string>com.beeframework.lib_reachabilitiy.lib</string>
		<string>com.beeframework.lib_touchXML.lib</string>
		<string>com.beeframework.lib_asi.lib</string>		
		<string>com.beeframework.lib_examples.lib</string>		
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libsqlite3.0.dylib</key>
        <dict>
                <key>Path</key>
                <string>/usr/lib/libsqlite3.0.dylib</string>
                <key>PathType</key>
                <string>Absolute</string>
                <key>FileType</key>
                <string>wrapper.framework</string>
        </dict>
		<key>libxml2.dylib</key>
        <dict>
                <key>Path</key>
                <string>/usr/lib/libxml2.dylib</string>
                <key>PathType</key>
                <string>Absolute</string>
                <key>FileType</key>
                <string>wrapper.framework</string>
        </dict>
		<key>libz.dylib</key>
        <dict>
                <key>Path</key>
                <string>/usr/lib/libz.dylib</string>
                <key>PathType</key>
                <string>Absolute</string>
                <key>FileType</key>
                <string>wrapper.framework</string>
        </dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses beeframework v0.3 for iOS.</string>
	<key>Identifier</key>
	<string>com.beeframework.beeframeworkOnlyIOSTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Prefix.pch</string>
		<string>main.m</string>
		<string>AppDelegate.h</string>
		<string>AppDelegate.m</string>
		
		<string>libz.dylib</string>
		<string>libxml2.dylib</string>
		<string>libsqlite3.0.dylib</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Universal</string>
			<key>Description</key>
			<string>What device family to create a project for.</string>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Name</key>
			<string>Device Family</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
